table {
	border-collapse: collapse;
}

td, table {
	border: 1px solid black;
}

td {
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	font-family: "Consolas", sans-serif;
}

.highlight {
	background-color: #ffaaaa;
}